body {
    margin: 0;
    padding: 0;
    background-color: #303853;
	font-family: 'Wendy One', sans-serif;
	font-size: 1.5em;
	color: white;
	text-align: center;
    background: #303853;
}

#game-scene {
    width: 100%;
    position: relative;
    z-index: 9;
}

#begin-game {
	width: 200px;
	background-color: #645a7e;
	border-radius: 8px;
    color: #fff;
	padding: 25px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 200px;
	z-index: 200;
	cursor: pointer;
	border: none;
    font-family: 'Wendy One', sans-serif;
    font-size: 25px;
}

#game-board {
	position: relative;
	width: 548px;
	margin: 0 auto;
	border: 8px solid #5FCF80;
	height: 472px;
	border-radius: 7px;
    z-index: 15;
    box-sizing: border-box;
}

#game-board-underlay {
    position: absolute;
	width: 548px;
	height: 472px;
	margin: 0 auto;
    left: 0;
    right: 0;
    border: 16px solid transparent;
}

#play-area {
    margin: 0 auto;
    width: 750px;
    margin-top: 125px;
	opacity: 0;
}

.token {
    width: 60px;
    height: 60px;
	transform: scale(1.1);
	transform-origin: center;
    border-radius: 100%;
    position: absolute;
    top: -50px;
	left: 16px;
}

circle {
    stroke-width: 16px;
}

#game-over {
	display: none;
	position: absolute;
	z-index: 100;
	top: -60px;
	left: 0;
	right: 0;
}

